soupsieve==2.7
shellingham==1.5.4
pikepdf==9.10.2
cint==1.0.0
semantic-version==2.10.0
kaitaistruct==0.11
simsimd==6.5.3
threadpoolctl==3.6.0
threadpoolctl==3.5.0
coloredlogs==15.0.1
humanfriendly==10.0
gradio_client==1.12.1
pydantic_core==2.33.2
emoji==2.14.1
fastapi==0.116.1
GitPython==3.1.45
onnxruntime==1.22.1
requests==2.32.5
requests==2.32.4
unstructured-inference==1.0.5
idna==3.10
idna==3.7
effdet==0.4.1
accelerate==1.9.0
tokenizers==0.22.1
langchain-text-splitters==0.3.9
urllib3==2.5.0
charset-normalizer==3.4.3
charset-normalizer==3.4.2
zstandard==0.23.0
pydub==0.25.1
opencv-python==4.10.0
kiwisolver==1.4.8
rank-bm25==0.2.2
diskcache==5.6.3
flatbuffers==25.2.10
grpcio==1.74.0
olefile==0.47
polars-runtime-32==1.35.2
nltk==3.9.1
unicodedata2==15.1.0
pytz==2025.2
fonttools==4.55.3
fonttools==4.59.0
joblib==1.5.1
protobuf==6.31.1
protobuf==4.25.3
typing-inspection==0.4.1
webencodings==0.5.1
langchain==0.3.27
intervaltree==3.1.0
timm==1.0.19
hf-xet==1.1.5
hf-xet==1.1.8
jsonschema-specifications==2025.9.1
polars==1.35.2
gql==4.0.0
numexpr==2.11.0
beautifulsoup4==4.13.4
anyio==4.9.0
python-magic==0.4.27
google-cloud-vision==3.10.2
openpyxl==3.1.5
propcache==0.4.1
groovy==0.1.2
sentry-sdk==2.47.0
thop==0.1.1-2209072238
tenacity==9.1.2
transformers==4.57.3
contourpy==1.3.3
contourpy==1.3.1
wrapt==1.17.0
wrapt==1.17.2
seaborn==0.13.2
==
pyparsing==3.2.0
dataclasses==0.8
fsspec==2025.7.0
multidict==6.7.0
scipy==1.16.0
et_xmlfile==2.0.0
pytest==8.4.1
typing-inspect==0.9.0
typer==0.16.1
googleapis-common-protos==1.70.0
typing_extensions==4.14.1
typing_extensions==4.15.0
certifi==2025.10.5
==
PySocks==1.7.1
tqdm==4.67.1
SQLAlchemy==2.0.42
portalocker==3.2.0
jsonpatch==1.33
RapidFuzz==3.13.0
jsonpointer==3.0.0
numpy==2.3.5
==
tzdata==2025.2
opencv-python-headless==4.10.0
httpcore==1.0.9
jieba==0.42.1
lxml==6.0.0
rich==14.1.0
cffi==1.17.1
pdfminer.six==20231228
pdfminer.six==20250506
matplotlib==3.10.5
stdlib-list==0.11.1
pyasn1==0.6.1
tomlkit==0.13.3
sympy==1.14.0
jsonschema==4.25.1
pypdfium2==4.30.0
pypdfium2==4.19.0
dataclasses-json==0.6.7
albumentations==2.0.8
langsmith==0.4.10
markdown-it-py==4.0.0
graphql-core==3.2.7
langdetect==1.0.9
aiofiles==24.1.0
doclayout_yolo==0.0.4
weave==0.52.22
loguru==0.7.3
loguru==0.7.2
cycler==0.11.0
cycler==0.12.1
h11==0.16.0
gitdb==4.0.12
Deprecated==1.2.18
sniffio==1.3.1
pi_heif==1.1.0
huggingface_hub==0.34.4
huggingface-hub==0.34.3
psutil==7.0.0
rsa==4.9.1
setuptools==80.9.0
uvicorn==0.35.0
mdurl==0.1.2
pytest-cov==6.2.1
networkx==3.5
python-dateutil==2.9.0.post0
mpmath==1.3.0
PyYAML==6.0.3
langchain-core==0.3.72
sortedcontainers==2.4.0
brotlicffi==1.0.9.2
unstructured-client==0.42.0
gmpy2==2.2.1
abnf==2.2.0
Bottleneck==1.4.2
sentence-transformers==5.1.2
chardet==5.2.0
Brotli==1.0.9
Brotli==1.1.0
iopath==0.1.9
html5lib==1.1
layoutparser==0.3.4
gradio==5.43.1
click==8.2.1
torchaudio==2.5.1a0
packaging==25.0
wandb==0.23.1
albucore==0.0.24
pycparser==2.22
starlette==0.47.2
Jinja2==3.1.6
wheel==0.45.1
referencing==0.37.0
tornado==6.5.1
coverage==7.10.4
filelock==3.18.0
filelock==3.17.0
pandas==2.3.3
pandas==2.3.2
python-multipart==0.0.20
google-api-core==2.25.1
torch==2.9.1
pydantic==2.11.7
pdfplumber==0.11.4
pip==25.1
graphviz==0.21
cryptography==45.0.5
pluggy==1.6.0
polyfile-weave==0.5.7
Pygments==2.19.2
ultralytics-thop==2.0.18
ruff==0.12.10
torchvision==0.24.1
orjson==3.11.1
websockets==15.0.1
attrs==25.4.0
requests-toolbelt==1.0.0
platformdirs==4.5.1
ffmpy==0.6.1
py-cpuinfo==9.0.0
httpx==0.28.1
pypdf==5.9.0
smmap==5.0.2
unstructured==0.18.11
pillow==11.3.0
backoff==2.2.1
pyasn1_modules==0.4.2
stringzilla==4.3.0
pdf2image==1.17.0
grpcio-status==1.74.0
google-auth==2.40.3
filetype==1.2.0
scikit-learn==1.7.1
iniconfig==2.1.0
marshmallow==3.26.1
annotated-types==0.7.0
PyPDF2==3.0.1
safetensors==0.6.2
python-iso639==2025.2.18
fickling==0.1.6
onnx==1.18.0
faiss==1.7.4
cachetools==5.5.2
mypy_extensions==1.1.0
rpds-py==0.30.0
six==1.17.0
python-oxmsg==0.0.2
yarl==1.22.0
proto-plus==1.26.1
safehttpx==0.1.6
unstructured.pytesseract==0.3.15
regex==2025.7.34
ultralytics==8.3.232
MarkupSafe==3.0.2
